.wrap-form-pengajuan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px 0 40px 0;
}

.wrap-form-pengajuan .container-pengajuan {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 15px;
}

.wrap-form-pengajuan .title h4 {
    text-align: center;
    margin-bottom: 20px;
}

.title span {
    display: flex;
    width: 100%;
    height: 0.5px;
    background-color: #dee2e6;
}

.row-left {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.row-right {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.wrap-input {
    width: 100%;
    margin-top: 1.5rem;
}

.container-wilayah{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-wilayah .wrap-input{
    width: 49%;
}

#loadingWilayah {
    display: flex;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.loading-spinner {
    border: 3px solid #666;
    /* Light grey */
    border-top: 3px solid #f3f3f3;
    /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 800ms linear infinite;
}

#loadingInstansi4 {
    display: none;
    margin-top: 0.5rem;
}

#loadingInstansi5 {
    display: none;
    margin-top: 0.5rem;
}

#loadingInstansi6 {
    display: none;
    margin-top: 0.5rem;
}

@media screen and (max-width: 505px) {
    .wrap-form-pengajuan .container-pengajuan {
        flex-direction: column;
        width: 100%;
    }

    .container-pengajuan .row-left{
        width: 100%;
    }
    .container-pengajuan .row-right{
        width: 100%;
    }

    .container-wilayah .wrap-input{
        width: 100%;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }