/* navbar */
.banner-top {
    display: flex;
    height: 120px;
    padding-bottom: 1.5rem;
    background-color: #fff;
}

.navbar-page {
    top: 120px !important;
}

.container-banner-top {
    display: flex;
    justify-content: space-between;
}

.container-banner-top .left img {
    width: 80%;
}

.container-banner-top .right {
    justify-content: flex-end;
}

.container-banner-top .right,
.left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.banner-top-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #fff;
}
/* end navbar */

@media screen and (max-width: 768px) {
    /* navbar */
    .banner-top {
        display: none;
    }

    .banner-top-mobile {
        display: flex;
    }

    .banner-top-mobile img {
        display: flex;
        width: 100%;
    }
    /* end navbar */
}