/* navbar */
.navbar-fixed-top{
    z-index: 1040 !important;
}

.banner-top {
    display: flex;
    height: 120px;
    padding-bottom: 1.5rem;
    background-color: #fff;
}

.navbar-page {
    top: 120px !important;
}

.container-banner-top {
    display: flex;
    justify-content: space-between;
}

.container-banner-top .left img {
    width: 40%;
}

.container-banner-top .right {
    justify-content: flex-end;
}

.container-banner-top .right,
.left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.banner-top-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #fff;
}

.icon-profile{
    display: flex;
    position: absolute;
    right: 0;
    top: 5.5px;
}

.icon-profile a{
    display: flex;
    border: none;
    outline: none;
    align-items: center;
}

/* .dropdown-profile{
    margin-left: -85px !important;
} */

.name-mobile{
    display: none;
}
.name-desktop{
    margin-right: 5px;
}

.dropdown-profile{
    min-width: 0 !important;
}

/* end navbar */

@media screen and (max-width: 768px) {
    /* navbar */
    .navbar-page {
        top: 50px !important;
    }

    .banner-top {
        display: none;
    }

    .banner-top-mobile {
        display: flex;
    }

    .banner-top-mobile img {
        display: flex;
        width: 30%;
    }

    .icon-profile{
        display: flex;
        flex-direction: column;
        position: static;
    }

    .icon-profile img{
        margin-left: 15px;
    }

    .icon-profile a{
        display: flex;
    }

    .dropdown-profile{
        margin-left: 0 !important;
        width: 100% !important;
    }

    .name-mobile{
        display: flex;
        margin-left: 5px;
    }
    .name-desktop{
        display: none;
    }
    /* end navbar */
}